apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: otel-collector-opentelemetry-collector-agent
  namespace: otel
  labels:
    app.kubernetes.io/name: opentelemetry-collector
    app.kubernetes.io/instance: otel-collector
    app.kubernetes.io/part-of: opentelemetry-collector
    app.kubernetes.io/component: agent-collector
spec:
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app.kubernetes.io/name: opentelemetry-collector
      app.kubernetes.io/instance: otel-collector
      component: agent-collector
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      annotations:
        checksum/config: 55cbf05dab9d32cdd62fbeb140efa0e6ba77dacaa082617d1614e9e449a9e8b7
      labels:
        app.kubernetes.io/name: opentelemetry-collector
        app.kubernetes.io/instance: otel-collector
        component: agent-collector
    spec:
      hostPID: true
      serviceAccountName: otel-collector-opentelemetry-collector
      automountServiceAccountToken: true
      containers:
        - name: opentelemetry-collector
          command:
            - /bin/sh
            - -c
            - |
              # Enter host cgroup namespace to see absolute cgroup paths
              exec nsenter --cgroup=/proc/1/ns/cgroup -- /otelcol/otelcol-ebpf-profiler-custom --config=/conf/relay.yaml --feature-gates=service.profilesSupport
          securityContext:
            runAsUser: 0
            privileged: true
            capabilities:
              add:
              - SYS_ADMIN
          image: "otelcol-ebpf-profiler-custom:latest"
          imagePullPolicy: IfNotPresent
          ports:
            - name: jaeger-compact
              containerPort: 6831
              protocol: UDP
              hostPort: 6831
            - name: jaeger-grpc
              containerPort: 14250
              protocol: TCP
              hostPort: 14250
            - name: jaeger-thrift
              containerPort: 14268
              protocol: TCP
              hostPort: 14268
            - name: otlp
              containerPort: 4317
              protocol: TCP
              hostPort: 4317
            - name: otlp-http
              containerPort: 4318
              protocol: TCP
              hostPort: 4318
            - name: zipkin
              containerPort: 9411
              protocol: TCP
              hostPort: 9411
          env:
            - name: MY_POD_IP
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: status.podIP
            - name: K8S_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: K8S_NODE_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
          volumeMounts:
            - mountPath: /conf
              name: opentelemetry-collector-configmap
            - mountPath: /sys/kernel/debug
              name: debugfs
            - mountPath: /var/lib/otel-profiles
              name: profiles-output
      volumes:
        - name: opentelemetry-collector-configmap
          configMap:
            name: otel-collector-opentelemetry-collector-agent
            items:
              - key: relay
                path: relay.yaml
        - name: debugfs
          hostPath:
            path: /sys/kernel/debug
            type: Directory
        - name: profiles-output
          hostPath:
            path: /var/lib/otel-profiles
            type: DirectoryOrCreate
      hostNetwork: false
---