apiVersion: v1
kind: ServiceAccount
metadata:
  name: otel-collector-opentelemetry-collector
  namespace: otel
  labels:
    app.kubernetes.io/name: opentelemetry-collector
    app.kubernetes.io/instance: otel-collector
    app.kubernetes.io/part-of: opentelemetry-collector
    app.kubernetes.io/component: agent-collector
---